

{% extends "layout.html" %}

{% block body %}
  <table>
	  <h2>Tuoteryhmät</h2>
    <tr>
      <th>Id</th>
      <th>Tuoteryhmä</th>
      <th>Tuotteita (kpl)</th>

      <th></th>
    </tr>
    {% for tuoteryhma in tuoteryhmat %}
    <tr>
      <td>{{ tuoteryhma.id }}</td>
      <td>{{ tuoteryhma.name }}</td>
      <td>{{ tuoteryhma.id) }}</td>
	  <td>

	    <form method="POST" action="{{ url_for('myytava_create', tuoteryhma_id=tuoteryhma.id) }}">
	      <input type="submit" value="Lisaa myytava"/>
	    </form>
      </td>

      <td>
	    <form method="GET" action="{{ url_for('tuoteryhma_delete', tuoteryhma_id=tuoteryhma.id) }}">
	      <input type="submit" value="Poista tuoteryhmä"/>
	    </form>
      </td>

    </tr>
    {% endfor %}

  </table>
{% endblock %}
