
{% extends "layout.html" %}

{% block body %}
  <table>

    <tr>
      <th>Tuoteryhmä</th>
      <th>Muokattu</th>
      <th>Id</th>
      <th></th>
    </tr>
    {% for tuoteryhma in tuoteryhmat %}
    <tr>
      <td>{{ tuoteryhma.name }}</td>
      <td>{{ tuoteryhma.done }}</td>
      <td>{{ tuoteryhma.id }}</td>

	  <td>
	    <form method="POST" action="{{ url_for('tuoteryhma_open', tuoteryhma_id=tuoteryhma.id) }}">
	      <input type="submit" value="Avaa tuoteryhmä"/>
	    </form>
      </td>

      <td>
	    <form method="GET" action="{{ url_for('tuoteryhma_delete', tuoteryhma_id=tuoteryhma.id) }}">
	      <input type="submit" value="Poista tuoteryhmä"/>
	    </form>
      </td>

    </tr>
    {% endfor %}

  </table>
{% endblock %}

