
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Main page</title>
    </head>
    
    <body>

	  <h2>KO-Huutokauppa</h2>
	  <p>
		Kätevä nettihuutokauppa sinunkin tarpeisiisi.
		Liity asiakkaaksi jo tänään!
	  </p>

      <ul>

	<li><a href="{{ url_for('tasks_index') }}">Selaa tuoteryhmiä</a></li>
	<li><a href="{{ url_for('tasks_form') }}">Lisää tuoteryhmä</a></li>

      </ul>
      
      {% block body %}
      <p>
	Content.
      </p>
      {% endblock %}
    </body>
  </html>
