  {% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for("tarjous_create", myytava_id=myytava.id) }}">

    <table>


	<tr>
  	  <td>
	    {{ form.tarjoussumma.label }}
	  </td>
	  <td>
	    {{ form.tarjoussumma }}
	  </td>

        <td>
	      <ul>
	       {% for error in form.tarjoussumma.errors %}
	         <li>{{ error }}</li>
	           {% endfor %}
	      </ul>
	    </td>
    </tr>


	<tr>
      <td colspan="1">
	    <input type="submit" value="Lähetä tarjous"/>
	  </td>


      <td colspan="2">
        <form method="POST" action="{{ url_for('myytava_tietoa', myytava_id=myytava.id) }}">
	      <input type="submit" value="Peruuta (kirjoita tarjoukseksi 0)"/>
    	</form>
	  </td>

    </tr>



  </form>
{% endblock %}

