{% extends "layout.html" %}
{% block body %}

{{ error }}
<form method="POST" action="{{ url_for('auth_register') }}">
	  <p></p>	  
      <h2>Rekisteröidy tästä </h2>
      <h6>Ethän käytä muiden järjestelmien tunnuksia tai salasanoja.</h6>
  <table>

    <tr>
      <td>{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
    </tr>

    <tr>
      <td>{{ form.email.label }}</td>
      <td>{{ form.email }}</td>
    </tr>

    <tr>
      <td>{{ form.username.label }}</td>
      <td>{{ form.username }}</td>
    </tr>


    <tr>
      <td>{{ form.password.label }}</td>
      <td>{{ form.password }}</td>
    </tr>

    <tr>
      <td colspan="5">
	    <input type="submit" value="Rekisteröidy"/>
      </td>
    </tr>

  </table>
</form>
{% endblock %}

