
{% extends "layout.html" %}

{% block body %}
  <table>

    <tr>
      <th>Tuoteryhmä</th>
      <th>Muokattu</th>
      <th>Id</th>
      <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.done }}</td>
      <td>{{ task.id }}</td>

	  <td>
	<form method="POST" action="{{ url_for('tasks_let_done', task_id=task.id) }}">
	  <input type="submit" value="Muokkaa tuoteryhmää"/>
	</form>
      </td>
      <td>
	<form method="GET" action="{{ url_for('tasks_delete', task_id=task.id) }}">
	  <input type="submit" value="Poista tuoteryhmä"/>
	</form>
      </td>

    </tr>
    {% endfor %}

  </table>
{% endblock %}
