
{% extends "layout.html" %}

{% block body %}
  <table>
	  <h2>Myytävät tuotteet, joista ei ole tehty tarjouksia</h2>
    <tr>
      <th>Id</th>
      <th>Tuoteryhmässä</th>
      <th>Myytava</th>
      <th>Hinta</th>
      <th>Tarjousaikaa jäljellä (vrk)</th>
      <th></th>
    </tr>

    {% for myytava in tars %}

    <tr>
      <td>{{ myytava.id }}</td>
      <td>{{ myytava.tuoteryhmatxt }}</td>
      <td>{{ myytava.name }}</td>
      <td>{{ myytava.tarjoushinta }}</td>
	  <td>{{ myytava.tarjousaikaa }}</td>
	  <td>
	    <form method="POST" action="{{ url_for('myytava_muokkaa', myytava_id=myytava.id) }}">
	      <input type="submit" value="Poista"/>
	    </form>
      </td>

    </tr>
    {% endfor %}

  </table>
{% endblock %}


