
{% extends "layout.html" %}

{% block body %}
  <table>
	  <h2>Myytävät tuotteet</h2>
    <tr>
      <th>Id</th>
      <th>Tuoteryhmässä</th>
      <th>Myytävänä</th>
      <th>Korkein tarjous (eur)</th>
      <th>Tarjousaikaa jäljellä (vrk)</th>

      <th></th>
    </tr>
    {% for myytava in myytavat %}
    <tr>
      <td>{{ myytava.id }}</td>
      <td>{{ myytava.tuoteryhmatxt }}</td>
      <td>{{ myytava.name }}</td>
      <td>{{ myytava.tarjoushinta }}</td>
      <td>{{ myytava.tarjousaikaa }}</td>
	  <td>
	    <form method="POST" action="{{ url_for('myytava_tietoa', myytava_id=myytava.id) }}">
	      <input type="submit" value="Tietoa tuotteesta"/>
	    </form>
      </td>


      <td>
	    <form method="GET" action="{{ url_for('myytava_poista', myytava_id=myytava.id) }}">
	      <input type="submit" value="Poista myytävä"/>
	    </form>
      </td>

    </tr>
    {% endfor %}

  </table>
{% endblock %}
