
{% extends "layout.html" %}

{% block body %}
  <table>



    <tr>
      <th>Id</th>
      <th>Myytävä tuote</th>
      <th>Aloitushinta (eur)</th>
      <th>Tuoteryhmä</th>

      <th></th>
    </tr>
    {% for myytava in myytavat %}
    <tr>
      <td>{{ myytava.id }}</td>
      <td>{{ myytava.name }}</td>
      <td>{{ myytava.aloitushinta }}</td>
      <td>{{ myytava.tuoteryhma_id }}</td>

	  <td>
	<form method="POST" action="{{ url_for('myytava_nosta_aloitushintaa', myytava_id=myytava.id) }}">
	  <input type="submit" value="Nosta aloitushintaa"/>
	</form>
      </td>



      <td>
	<form method="GET" action="{{ url_for('myytava_delete', myytava_id=myytava.id) }}">
	  <input type="submit" value="Poista myytävä"/>
	</form>
      </td>

    </tr>
    {% endfor %}

  </table>
{% endblock %}
